#svelte-announcer.svelte-1j55zn5{position:absolute;left:0;top:0;clip:rect(0 0 0 0);clip-path:inset(50%);overflow:hidden;white-space:nowrap;width:1px;height:1px}

/*
     FILE ARCHIVED ON 03:43:52 Feb 23, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:30:21 Feb 23, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 117.29
  exclusion.robots: 0.081
  exclusion.robots.policy: 0.074
  RedisCDXSource: 1.107
  esindex: 0.007
  LoadShardBlock: 77.588 (3)
  PetaboxLoader3.datanode: 107.702 (4)
  CDXLines.iter: 23.327 (3)
  load_resource: 166.938
  PetaboxLoader3.resolve: 132.775
*/